<div>
      <div>
        <div id="lbtext">
          <h3>Search Information</h3>
        </div>
        <div>
          <label>Area: </label>
          <input type="text" class="form-control" placeholder="search by Area" [(ngModel)]="searchTerm">
        </div>
        <div>
          <label>Asset Name: </label>
          <input type="text" class="form-control" placeholder="search by Assetname" [(ngModel)]="searchTermAN">
        </div>
        <div>
          <label>Seri Number: </label>
          <input type="text" class="form-control" placeholder="search by Serinumber" [(ngModel)]="searchTermSR"> 
        </div>       
    <button (click)="get($event)" class="btn btn-primary" type="submit"><i class="icon-refresh"></i>
      {{("Search")}}</button>
    </div>
    <br>
    <div id="lbtext">
      <h3>List Of Assets</h3>
    </div>
    <table style="width:100%">
        <tr>   
          <th>No.</th>        
          <th>Area</th>
          <th>Unitcode</th> 
          <th>Areacode</th>
          <th>Transaction</th>
          <th>Assetcode</th>
          <th>Assetname</th>
          <th>Serinumber</th>
          <th>Originalprice</th>
        </tr>
        <tbody *ngIf="assets">
        <tr *ngFor="let asset of assets.result.items | paginate: { itemsPerPage: 6, currentPage: p }; let i = index ">
          <td>{{i}}</td>
          <td>{{asset.area}}</td>
          <td>{{asset.unitcode}}</td>
          <td>{{asset.areacode}}</td>
          <td>{{asset.transaction}}</td>
          <td>{{asset.assetcode}}</td>
          <td>{{asset.assetname}}</td>
          <td>{{asset.serinumber}}</td>
          <td>{{asset.originalprice}}</td>
        </tr>      
      </tbody> 
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <br><br>
      <div>
      <div id="lbtext">
          <h3>Create Asset</h3>
        </div>        
        <div>
          <label>Area: </label>
          <input type="text" class="form-control" placeholder="Area" [(ngModel)]="area" ng-minlength="5" required>
        </div>
        <div>
          <label>UnitCode: </label>
          <input type="text" class="form-control" placeholder="unitcode" [(ngModel)]="unitcode">
        </div>
        <div>
          <label>AreaCode: </label>
          <input type="text" class="form-control" placeholder="areacode" [(ngModel)]="areacode">
        </div>
        <div>
          <label>Transaction: </label>
          <input type="text" class="form-control" placeholder="transaction" [(ngModel)]="transaction">
        </div>
        <div>
          <label>AssetCode: </label>
          <input type="text" class="form-control" placeholder="assetcode" [(ngModel)]="assetcode">
        </div>
        <div>
          <label>AssetName: </label>
          <input type="text" class="form-control" placeholder="assetname" [(ngModel)]="assetname">
        </div>
        <div>
          <label>Serinumber: </label>
          <input type="text" class="form-control" placeholder="serinumber" [(ngModel)]="serinumber">
        </div>
        <div>
          <label>Originalprice: </label>
          <input type="number" class="form-control" placeholder="originalprice" [(ngModel)]="originalprice">
        </div>     
        <button (click)="insertAsset($event)" class="btn btn-primary" type="submit" *ngIf="isGranted('Pages.Administration.Asset.Create')"><i class="icon-refresh"></i>
          {{("Add Asset")}}</button>
      </div>
</div>
